<form method="post" action="/articles/<%= @article.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label for="title">Title: </label>
    <input type="text" name="article[title]" id="title" value="<%= @article.title %>">
    <br><br>
    <label for="content">Content: </label>
    <textarea type="text" name="article[content]" id="content" value="<%= @article.content %>">
    </textarea>
    <br><br>
    <input type="submit">
</form>