<h1>Submit a New Article</h1>
<form method="post" action="/articles">
  Title: <br>
    <input type=text name='title'><br><br>
  Content:<br>
    <textarea name='content' style="width: 300px;"></textarea><br><br>
    <input type=submit>
</form>