<h1>Create a new Article</h1>

<form method="POST" action='/articles'>
<label for="title">Title:</label><br>
<input type="text" id="title" name="title"><br>
<label for="content">Content:</label><br>
<input type="text" id="content" name="content"><br>
<input type="submit" id="submit" value="submit">
</form>
