<form method="POST" action="/articles">
    <p>
        <label for="title">Title:</label>
        <input id="title" type="text" name="title">
    </p>
    <p>
        <label for="content">Content:</label> <br>
        <textarea id="content" type="text" name="content"></textarea>
    </p>

    <input type="submit">
</form>